bcrypt==3.2.0
cffi==1.15.0
cryptography==36.0.0
future==0.18.2
idna==3.3
importlib-metadata==4.8.2
iniconfig==1.1.1
ipaddr==2.2.0
ipdb==0.13.9
ipython==7.30.0
jedi==0.18.1
Jinja2==3.0.3
junos-eznc==2.6.3
loguru==0.5.3
lxml==4.6.4
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mypy-extensions==0.4.3
napalm==3.3.1
ncclient==0.6.9
netaddr==0.8.0
netmiko @ git+https://github.com/ktbyers/netmiko.git@15560b3461a2004ff5955a7d1e14168a4f50981b
nornir==3.2.0
nornir-jinja2==0.2.0
nornir-netmiko==0.1.2
nornir-utils @ git+https://github.com/nornir-automation/nornir_utils.git@ae5086d88b72af2739e25718df34c7843a3bae16
ntc-templates==3.0.0
paramiko==2.8.1
pycparser==2.21
PyNaCl==1.4.0
pyserial==3.5
scp==0.14.1
six==1.16.0
tenacity==8.0.1
textfsm==1.1.2
