{% for each_ace in acl_vars.acl[0].ace %}
{% if each_ace.keys() | list | first == 'permit' %}
{% if each_ace.values() | list | first == 'any' %}
ssh 0.0.0.0 0.0.0.0 management
{% else %}
ssh {{ each_ace.values() | list | first }} MGMT
{% endif %}{% endif %}{% endfor %}

{% for each_ace in acl_vars.acl[0].ace %}
{% if each_ace.keys() | list | first == 'permit' %}
{% if each_ace.values() | list | first == 'any' %}
http 0.0.0.0 0.0.0.0 management
{% else %}
http {{ each_ace.values() | list | first }} MGMT
{% endif %}{% endif %}{% endfor %}