{% for each_acl in acl_vars.acl %}
ip access-list extended {{ each_acl.name }}
{% for each_ace in each_acl.ace %}
{% if each_ace.keys() | list | first == 'remark' %}
 {{ each_ace.keys() | list | first }} {{ each_ace.values() | list | first }}
{% else %}
 {{ each_ace.keys() | list | first }} ip {{ each_ace.values() | list | first }} any
{% endif %}{% endfor %}

{% endfor %}